* {
  box-sizing: border-box;
}
.main {
  background-color: #96c0c9;
  padding: 5%;
  margin: 1%;
}

.main::after {
  content:"";
  clear: both;
  display: table;
}

.chatMain {
  background-color: #b4c8cc;
  padding: 3%;
  margin-left: 5%;
  width: 75%;
  float: left;
  max-height: 450px;
  overflow-y: scroll;
}

.participantsMain {
  background-color: #99ccff;
  padding: 3%;
  margin-left: 2.5%;
  width: 15%;
  float: left;
}

.newMsg {
  width: 100%;
  padding: 2% 15%;
  background-color: #96c0c9;
}
.typing {
  width: 100%;
  color: orange;
  font-size: 0.8em;
}
