
.main {
  background-color: #96c0c9;
}

.mainChat {
  padding-top: 10% !important;
  overflow: hidden !important;
}

/*
.chatMain {
  background-color: #b4c8cc;
  padding: 3%;
  margin-left: 5%;
  width: 75%;
  max-height: 450px;
  overflow-y: scroll;
}

.participantsMain {
  background-color: #99ccff;
  padding: 3%;
  margin-left: 2.5%;
  width: 15%;
}

.newMsg {
  width: 80%;
  padding: 2% 15%;
  background-color: #96c0c9;
}
.typing {
  width: 100%;
  font-size: 0.8em;
}

.self {
  text-align: right;
}

.other {
  text-align: left;
}

.no-list-style {
  list-style: none;
}
*/
