
<div *ngIf="!chatClient" class="row align-items-center justify-content-center vh-100">
  <div class="card main">
    <h3 class="card-title">Welcome to my chat!</h3>
    <div class="card-body">
      <div *ngIf="socketId" style="color: green">{{socketId}}</div>
      <div *ngIf="!socketId" style="color: darkred">Offline.</div>
      <div *ngIf="nameError$ | async as error" class="alert alert-danger">
        {{error}}
      </div>
      <form>
        <div class="form-group">
          <label for="nickNameFc"><i class="bi bi-person-circle"></i> Please enter a username:</label>
          <input type="text" [formControl]="newNameFC" class="form-control" placeholder="Username" id="nickNameFc">
        </div>
        <div class="row justify-content-end">
          <button type="button" (click)="registerName()" class="btn btn-light btn-outline-dark">Choose name</button>
        </div>
      </form>
    </div>
    </div>
</div>


<!-- when name entered -->
  <div *ngIf="chatClient" class="main mainChat row vh-100">

      <div class="col-8 ">
        <div class="card fh-100">
          <div class="card-header">
            <h5><i class="bi bi-person-circle"></i> Chatting as {{chatClient.nickName}}</h5>
          </div>
          <div class="card-body">
            <h4 *ngFor="let message of allMessages">

              <span *ngIf="message.chatUser.nickName === chatClient.nickName" class="float-right">{{message.message}}  <i class="bi bi-person-circle"></i></span>
              <span *ngIf="message.chatUser.nickName != chatClient.nickName"><i class="bi bi-person"></i>  {{message.chatUser.nickName}} : {{message.message}}</span>
            </h4>
            </div>
        </div>
        <div class="card-footer">
          <div style="height:40px">
            <div *ngIf="participantsTyping.length > 0 && chatClient" >
              <h5 class="text-muted"><i class="bi bi-person-lines-fill"></i> typing: <span *ngFor="let client of participantsTyping; let i = index">
            {{client.nickName}}
                <span *ngIf="participantsTyping.length -1 > i">,</span>
            </span> </h5>
            </div>
          </div>
          <div *ngIf="chatClient" class="input-group">
            <span class="input-group-text">
              Message:
            </span>
            <input type="text" [formControl]="newMessageFC" class="form-control" placeholder="Write message...">
            <button type="button" (click)="sendMessage()" class="btn btn-light btn-outline-dark">Send Message</button>
          </div>
        </div>
      </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header"><h5>Participants in the chat:</h5></div>
        <div class="card-body">
          <ul class="no-list-style list-group list-group-flush">
            <li class="list-group-item" *ngFor="let client of participants">
              <span *ngIf="client.id === chatClient.id" class="disabled">{{client.nickName}}</span>
              <span *ngIf="client.id != chatClient.id">{{client.nickName}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

